.service-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 90px;
    width: 80px;
}

.icon-camera {
  background-image: url('../../img/icons/camera.png');
}

.icon-video {
  background-image: url('../../img/icons/video.png');
}

.icon-premiere {
  background-image: url('../../img/icons/premiere.png');
}