/* Override Propose */
input, select, textarea{
    color: #222 !important;
    font-size: 1.7em !important;
}

input, select{
    height: 45px !important;
}

.footer-section {
  background-color: #222 !important;
}

.help-block {
  color: #222 !important;
}

/* Custom Classes */
.service-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 90px;
    width: 80px;
}

.icon-camera {
  background-image: url('../../img/icons/camera.png');
}

.icon-video {
  background-image: url('../../img/icons/video.png');
}

.icon-premiere {
  background-image: url('../../img/icons/premiere.png');
}

.contact-section {
  background-image: url('../..//img/creative/bg-contact.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}